.card-wrapper {
	padding-left: 8em;
	padding-right: 8em;
	padding-top: 5em;
}

.card-dimmer {
	background-color: rgba(11, 10, 11, 0.7);
	backdrop-filter: blur(5px);
	height: 25em;
	max-height: 25em;
	width: 55%;
}

@-moz-document url-prefix() {
	.card-dimmer {
		backdrop-filter: blur(5px);
	}
}

.card {
	color: #FFF;
	height: 30em;
	max-height: 30em;
	padding-top: 2em;
	position: absolute;
	top: 12.7em;
	width: 45.2%;
	z-index: 1;
}

.card-title {
	padding-left: 2em;
}

.meta {
	font-size: 17px;
	font-weight: 100;
}

.title {
	font-size: 50px;
}

.card-content {
	padding-left: 2em;
	padding-right: 4em;
	padding-top: 2em;
}

.main-content {
	font-size: 23px;
	font-weight: 300;
}

.meta-content {
	padding-top: 1.6em;
}

@-moz-document url-prefix() {
	.meta-content {
		padding-top: 1.53em;
	}
}

.meta-link {
	color: #FFF;
	font-weight: 100;
}

.meta-text {
	display: block;
	font-size: 20px;
	padding-top: 2em;
}

.card-actions {
	display: flex;
}

.action {
	height: 5em;
	max-height: 5em;
	margin-top: 2em;
	width: 50%;
}

.up {
	align-items: center;
	background-color: rgba(44, 187, 180, 0.7);
	display: flex;
	justify-content: center;
}

.down {
	align-items: center;
	background-color: rgba(255, 181, 51, 0.7);
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 1024px) {
	.card-wrapper {
		display: none;
	}
}

@media only screen and (min-width: 1920px) {
	.card-wrapper {
		padding-left: 15em;
		padding-right: 15em;
	}

	.card {
		width: 41.2%;
	}

	.main-content {
		font-size: 22px;
	}

	@-moz-document url-prefix() {
		.meta-content {
			padding-top: 1.4em;
		}
	}

	.action {
		margin-top: 4em;
	}
}