.card-list {
	margin-top: 2em;
	padding-left: 8em;
	padding-right: 8em;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cardlist-title {
	color: #323232;
	font-size: 50px;
	font-weight: 300;
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	.card-list {
		padding-left: 1em;
		padding-right: 1em;
	}

	.cardlist-title {
		text-align: center;
	}
}

@media only screen and (min-width: 1920px) {
	.card-list {
		padding-left: 15em;
		padding-right: 15em;
	}
}