.top-banner,
.bottom-banner {
	margin-top: 3em;
	padding-left: 8em;
	padding-right: 8em;
}

.top-banner-content {
	align-items: center;
	background-color: #EBEBEB;
	display: flex;
	height: 8em;
	min-height: 6em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
}

.left-text {
	font-size: 23px;
	font-weight: 300;
	width: 35%;
}

.left-text span{
	font-size: 38px;
	font-weight: bold;
}

.middle-text {
	font-weight: 300;
}

.close-icon {
	height: 1.5em;
}

.bottom-banner {
	height: 10em;
	margin-top: 1em;
}

.bottom-banner-bgr {
	background-image: url('https://www.lalive.com/assets/img/TheLionKing_Banner_960X360-27c6d97501.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 130%;
	height: 7em;
}

.bottom-banner-content {
	align-items: center;
	display: flex;
	height: 7em;
	justify-content: space-between;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	position: relative;
	top: -7em;
	z-index: 1;
}

.bottom-banner-dimmer {
	background-color: rgba(255,255,255,0.9);
	height: 7em;
	position: relative;
	top: -14em;
}

.text-bottom-banner {
	font-size: 35px;
	font-weight: 300;
	margin-top: 0.5em;
}

.bottom-banner-btn {
	border: 3px solid #000 !important;
	font-size: 23px;
	width: 23%;
}

@media only screen and (max-width: 1024px) {
	.top-banner {
		display: none;
	}

	.bottom-banner {
		display: none;
	}
}

@media only screen and (min-width: 1920px) {
	.top-banner,
	.bottom-banner {
		padding-left: 15em;
		padding-right: 15em;
	}

	.left-text {
		width: 23%;
	}
}