.cards {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 35.7em;
	margin-bottom: 4%;
	min-width: 48%;
	width: 48%;
}

.cards-title {
	margin-top: 18em;
	padding-left: 3em;
}

.label {
	color: #FFF;
	font-size: 50px;
}

.metainfo {
	color: #FFF;
	font-size: 14px;
}

.metainfo > span {
	font-weight: 300;
}

.cards-content {
	padding-left: 3em;
	padding-top: 1em;
}

.cards-content span{
	color: #FFF;
	font-size: 18px;
	font-weight: 100;
	z-index: 10;
}

.cards-actions {
	align-items: center;
	display: flex;
	margin-top: 1em;
	padding-left: 3em;
}

.cards-actions * {
	z-index: 10;
}

.thumb-down {
	margin-left: 1em;
}

.vote-button {
	margin-left: 1em;
}

.cards-dimmer {
	background-image: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
	height: 13.5em;
	position: relative;
	top: -13.5em;
	z-index: 0;
}

.cards-bars {
	display: flex;
	margin-top: 3.5em;
}

@-moz-document url-prefix() {
	.cards-bars {
		display: flex;
		margin-top: 3.4em;
	}
}

.cards-bars div{
	align-items: center;
	color: #FFF;
	display: flex;
	height: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
	z-index: 1;
}

.bar-up {
	background-color: rgba(44, 187, 180, 0.8);
}

.bar-down {
	background-color: rgba(255, 181, 51, 0.8);
	flex-flow: row-reverse;
	justify-content: end;
}

.cards-bars div > span{
	font-size: 30px;
	font-weight: 300;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

@media only screen and (max-width: 1024px) {
	.cards {
		min-width: 90%;
		width: 100%;
	}

	.cards-title,
	.cards-content,
	.cards-actions {
		padding-left: 1em;
	}
}

