.header-wrapper {
	background-image: url('https://elmundodetony.com/wp-content/uploads/2019/09/thumb-1920-474234.jpg');
	background-size: cover;
	height: 800px;
}

.menu-container {
	background-image: linear-gradient(to bottom, #000, transparent);
	display: flex;
	padding-left: 8em;
	padding-right: 8em;
	padding-top: 3em;
	width: 100%;
}

.header-label {
	color: #FFF;
	font-size: 35px;
	font-weight: 400;
	width: 55%;
}

.menu {
	align-items: center;
	color: #FFF;
	display: flex;
	height: 50px;
	justify-content: space-between;
	width: 45%;
}

.menu-item {
	justify-content: flex-end;
	display: flex;
	list-style: none;
}

.menu-link {
	color: #FFF;
	font-size: 17px;
	font-weight: 300;
}

.menu-link:hover {
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.header-wrapper {
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 550px;
	}

	.menu-container {
		align-items: center;
		justify-content: space-between;
		padding-left: 2em;
		padding-right: 2em;
		padding-top: 2em;
	}

	.menu {
		display: none;
	}

	.mobile-menu-icon {
		color: #FFF;
		font-size: 25px;
	}
}

@media only screen and (min-width: 1280px) {
	.mobile-menu-icon {
		display: none;
	}
}

@media only screen and (min-width: 1920px) {
	.header-wrapper {
		height: 900px;
	}

	.menu-container {
		padding-left: 15em;
		padding-right: 15em;
	}

	.header-label {
		width: 65%;
	}

	.menu {
		width: 35%;
	}

	.menu-item {
		font-size: 18px;
	}
}