.footer-wrapper {
	margin-bottom: 0;
	padding-bottom: 2em;
	padding-left: 8em;
	padding-right: 8em;
}

.footer-content {
	border-top: 2px dotted rgba(0,0,0,0.4);
	display: flex;
	padding-top: 2em;
}

.footer-menu {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	width: 25%;
}

.footer-item {
	color: #6A6A6A;
	font-size: 13px;
	list-style: none;
}

.footer-icons {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	width: 75%;
}

.footer-icon {
	color: #6A6A6A;
	font-size: 13px;
	list-style: none;
	padding-left: 3em;
}

.footer-icon i {
	color: #000;
}

@media only screen and (max-width: 1024px) {
	.footer-wrapper {
		padding-left: 1em;
		padding-right: 1em;
	}

	.footer-content {
		flex-wrap: wrap;
	}

	.footer-menu {
		width: 100%;
	}

	.footer-icons {
		justify-content: center;
		padding-left: 0;
		width: 100%;
	}

	.footer-icon {
		padding-right: 0.2em;
	}
}

@media only screen and (min-width: 1920px) {
	.footer-wrapper {
		padding-left: 15em;
		padding-right: 15em;
	}
}