.main-label {
	align-items: center;
	display: flex;
	height: 20em;
	justify-content: center;
	padding-left: 8em;
	padding-right: 8em;
}

.main-label-text {
	border: 3px solid rgb(44, 187, 180);
	color: rgb(255, 181, 51);
	font-size: 30px;
	padding: 2em;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 1920px) {
	.main-label {
		padding-left: 15em;
		padding-right: 15em;
	}
}